<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chart.js Ejemplo</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<div style="margin-left: 150px;">
    <h1>Ejemplo Chart.js</h1>
</div>
<div style="margin-right: 500px; text-align: center;">
    <h1>Total de población de las parroquias del Cantón Latacunga</h1>
</div>

<body style="margin-left: 400px; margin-top: 50px;">
    
    <div style="width: 650px; height: 650px;">
        <hr>
        <canvas id="myChart"></canvas>
    </div>
    <script src="app.js"></script>
</body>
</html>
